.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--gray-100);
  margin-top: 1rem;
  border-radius: 1rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 700;
    color: var(--gray-900);
  }

  input, textarea {
    height: 48px;
    padding: 1rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;  
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .inputsInline {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    @media(max-width: 768px) {
      display: block;
    }
  }

  .inputWithPrefix {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 0.5rem;
    font-weight: 600;
    color: var(--gray-500);
    background: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    overflow: hidden;

    >input {
      flex-grow: 1;
      border: none;
      outline: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .inputErrorAlert {
    border: 1px solid var(--red-500);
    background: var(--red-100);

    >input {
      background: var(--red-100);
    }
  }

  .alertError {
    color: var(--red-500);
    font-size: 0.9rem;
    font-weight: 400;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 0 ;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;

    @media(max-width: 768px) {
      font-size: 0.9rem;
      white-space: nowrap;
    }
  }

  button[type="submit"] {
    color:  var(--white);
    background: var(--purple-500);
    border: 0;

    &:hover {
     background: var(--pink-500);
    }
  }

  button[type="reset"] {
    color: var(--gray-500);
    background: transparent;
    border: 1px solid var(--gray-500);
  
    &:hover {
      background: var(--gray-500);
      color: var(--white);
    }
  }
}

.processStepsContainer {
  display: flex;

  @media(max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .inputCheckbox {
    flex: 1;

    input[type='checkbox'] {
      position: absolute;
      width: 0;
      height: 0;

      &:focus {
        box-shadow: none;
      }
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 0.4);
      white-space: nowrap;
      text-transform: uppercase;
      background: var(--white);
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, 0.3);
      transition: background 0.2s border 0.2s;
      cursor: pointer;

      &:after,
      &:before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        pointer-events: none;
        border: solid transparent;
      }

      &:after {
        top: 0%;
        right: -46px;
        border-width: 23px;
        border-color: transparent;
        border-left-color: var(--white);
        z-index: 1;
      }

      &:before {
        top: 0%;
        right: -48px;
        border-width: 23px;
        border-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      &:hover {
        background: var(--pink-300);
        color: var(--white);

        &:after {
          border-left-color: var(--pink-300);
        }
      }

      @media(max-width: 768px) {
        &:after, &:before {
          display: none;
          border-radius: 0;
        }

        &:hover {
          background: var(--white);
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  :last-child {
    label {
      border-radius: 0 10px 10px 0;

      @media(max-width: 768px) {
        border-radius: 0;
      }
    }
    :before, :after {
      display: none;
    }
  }

  :first-child label {
    border-radius: 10px 0 0 10px;

    @media(max-width: 768px) {
      border-radius: 0;
    }
  }
  
  input[type='checkbox']:checked+label {
    background: var(--pink-300);
    color: var(--white);
    border-color: transparent;

    &:after {
      border-left-color: var(--pink-300);
    }
  }
  
  input[type='checkbox']:focus+label {
    border: 1px solid var(--pink-300);

    @media(max-width: 768px) {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.customCheckbox {
  display: flex;
  gap: 1rem;

  @media(max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  > div {
    flex: 1;
  }

  input[type='radio'] {
    width: 0;
    height: 0;
    position: absolute;

    &:focus {
      box-shadow: none;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background: var(--gray-100);
    color: var(--gray-500);
    font-weight: 600;
    font-size: 0.75rem;
    border-radius: 6px;
    border: 1px solid var(--gray-300);
    white-space: nowrap;
    text-transform: uppercase;
    transition: background 0.2s color 0.2s;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--purple-500);
      color: var(--purple-500);
    }
  }

  input[type='radio']:checked+label {
    background: var(--purple-100);
    border-color: var(--purple-500);
    color: var(--purple-500);
  }

  input[type='radio']:focus+label {
    background: var(--purple-100);
    border: 1px solid var(--purple-500);
  }
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media(max-width: 768px) {
    display: block;
  }
}