.container {
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100vh - 5rem);
  padding: 2rem 5rem 3rem 9rem;
  overflow-y: auto;

  @media(max-width: 768px) {
    height: calc(100vh - 10rem);
    padding: 2rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}