.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 7rem;
  height: 100vh;
  padding-bottom: 5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: var(--purple-500);
  z-index: 999;

  .brandLogo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
  }

  @media(max-width: 768px) {
    flex-direction: row;
    justify-content: center;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 0;
    border-radius: 20px 20px 0 0;

    .brandLogo {
      position: fixed;
      top: 0;
      left: 1rem;
      border-bottom: none;
    }
  }
}

 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;

  a {
    border-radius: 20px;
  }

  @media(max-width: 768px) {
    flex-direction: row;
  }
}

.optionMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  transition: all ease-out 120px;

  @media(max-width: 768px) {
    font-size: 1.8rem;
  }

  .tooltip {
    position: absolute;
    display: inline-block;
    margin-top: 7.5px;
    left: 90px;
    padding: 8px 15px;
    font-size: 0.75rem;
    letter-spacing: .5px;
    white-space: nowrap;
    background: var(--pink-500);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -4px;
      top: 10px;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: inherit;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);

    .tooltip {
      visibility: visible;
      opacity: 1;
    }

    @media(max-width: 768px) {
      background: transparent;

      .tooltip {
        display: none;
      }
    }
  }
}